{% extends "layout.html" %}

{% block mainContent %}
<h1>Meet us!</h1>
<div class="row">
  <div class="col-md-3 about-person">
    <span id="zealous-turtle-name">John</span>
    <img id="zealous-turtle-headshot" src="http://orig01.deviantart.net/d2d4/f/2012/089/b/6/ninja_turtle_by_redcode77-d4uek6b.jpg" alt="John" height="242" width="200">
    <p>John is a die-hard Bama fan. His favorite food is Buffalo Wild Wings.</p>
  </div>
  <div class="col-md-3 about-person">
    <span id="perfect-rabbit-name">Alex</span>
    <img id="perfect-rabbit-headshot" src="http://i.imgur.com/toQ6NdL.jpg" alt="Alex" height="242" width="275">
     <p>Alex is not short.</p>
  </div>
  <div class="col-md-3 about-person">
    <span id="splendid-crocodile-name">Charlie</span>
    <img id="splendid-crocodile-headshot" src="http://i.imgur.com/MAk3mMr.png" alt="Charlie" height="242" width="275">
   <p>Charles M Coit is well-known for his record beating goal against Harvard this season which cut the loss to 100-1.</p>
  </div>
  <div class="col-md-3 about-person">
   <span id="precious-starling-name">Elyse</span>
    <img id="precious-starling-headshot" src="https://pbs.twimg.com/profile_images/1208093186/ecphoto.JPG" alt="Elyse" height="242" width="200">
  <p>Elyse is not funny. She wears sunglasses indoors with suits and at night.</p>
  </div>  
</div>


  
  
 
{% endblock %}
