{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
  <span id="zealous-turtle-name">John</span>
  <img id="zealous-turtle-headshot" src="http://orig01.deviantart.net/d2d4/f/2012/089/b/6/ninja_turtle_by_redcode77-d4uek6b.jpg" alt="John" height="242">
  <p>John is a die-hard Bama fan. His favorite food is Buffalo Wild Wings.</p>
  <span id="perfect-rabbit-name">Alex</span>
  <img id="perfect-rabbit-headshot" src="http://i.imgur.com/toQ6NdL.jpg" alt="Alex" height="242">
   <p>Alex is not short.</p>
  <span id="splendid-crocodile-name">Charlie</span>
    <img id="splendid-crocodile-headshot" src="http://i.imgur.com/MAk3mMr.png" alt="Charlie" height="242">
     <p>Charles M Coit is well-known for almost beating Harvard in hockey this year with an amazing goal.</p>
  <span id="precious-starling-name">Elyse</span>
    <img id="precious-starling-headshot" src="http://ecx.images-amazon.com/images/I/71dFIorXoSL._SL1500_.jpg" alt="Elyse" height="242">
  <p>Elyse is worried about USC this weekend.</p>
{% endblock %}
