<!DOCTYPE html>
<html>
    <head>
        <title>Sprint 5 Report</title>
    </head>
    <body>
        <ul>
            <li>John Butler (john.s.butler@yale.edu)</li>
            <li>Charlie Coit (charles.coit@yale.edu)</li>
            <li>Elyse Cummins (elyse.cummins@yale.edu)</li>
            <li>Alex Kragie (alex.kragie@yale.edu)</li>
        </ul>
        <h1>Daunting-Wood</h1>
        <h2>Project Status Report 5</h2>
        <h3>November 28, 2015</h3>
        <h4>Project Description: Make a usable clone of Eventbrite to schedule events and manage RSVPs</h4>
        <p>Links</p>
        <ul>
            <li><a href="https://waffle.io/daunting-wood/mgt656-spring-2015-project">Kanban Board</a></li>
            <li><a href="https://mgt-656-daunting-wood.herokuapp.com/">Production URL</a></li>
            <li><a href="/reports">Previous Sprint Reports</a></li>
        </ul>
        <p>Burndown Chart</p>
        <a href="http://imgur.com/ab4VGrt"><img src="http://i.imgur.com/ab4VGrt.png" title="source: imgur.com" /></a>
        <p>Completed User Stories</p>
        <ol>
            <li>None -- Have completed all assigned user stories thus far</li>
           
        </ol>

        <p>This past week we met as a team to review where we stood. We determined that we had completed all of the user stories and passed all tests
        that had been assigned to us for the project thus far, so we patted ourselves on the back and then created a new user story
        to set up A/B testing for the RSVP link given the new assignment that we had just received from Kyle. After that we created
        9 new user stories related to formatting our website to make it look purty, which are listed below:
        <ol>
            <li>Modify headers</li>
            <li>Modify footers</li>
            <li>Add CSS styling to events page</li>
            <li>Add CSS styling to about page</li>
            <li>Add SQL database</li>
            <li>Test new fonts</li>
            <li>Change page background</li>
            <li>Test font colors</li>
            <li>Add CSS styling to homepage</li>
        </ol>
        
       Alex was assigned to write the scrum report for this week (scrum report 5). </p>
        
        <p>User Stories In Progress</p>
        <ol>
         <li>A/B testing</li>
        </ol>
        <p>Product Backlog</p>
        <ol>
            <li>Modify headers</li>
            <li>Modify footers</li>
            <li>Add CSS styling to events page</li>
            <li>Add CSS styling to about page</li>
            <li>Add SQL database</li>
            <li>Test new fonts</li>
            <li>Change page background</li>
            <li>Test font colors</li>
            <li>Add CSS styling to homepage</li>
        </ol>
        <p>Note on story estimating: We assigned values to our user stories by averaging the estimated difficulty assigned by each member of the team on the Fibonacci sequence scale. We then rounded to the closest number on the scale. </p>
    </body>
</html>